<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>@ViewBag.Title</title>
   
    <link rel="icon" type="image/ico" href="../../../../Content/aquarius/favicon.ico" />
    <link href="../../../../Content/simple-tabs-css/simpletabs.css" rel="stylesheet" />
    <link href="../../../../Content/simple-tabs-css/style.css" rel="stylesheet" />
     <link href="../../../../Content/aquarius/css/stylesheets.css" rel="stylesheet" />
   
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
     <script src="@Url.Content("~/Scripts/simple-tabs-js/simpletabs_1.3.js")" type="text/javascript"></script>
   
  

    @Html.Telerik().StyleSheetRegistrar().DefaultGroup(group => group.Add("telerik.common.min.css").Add("telerik.Default.css").Add("telerik.rtl.css")) 


</head>
<body>
    <div class="container-fluid">
        <div id="logindisplay">
            @Html.Partial("_LogOnPartial")
        </div>
    </div>
    <div class="header">
        <a class="logo" href="http://localhost:10112/Administracao/Home">
            <img src="@Url.Content("~/Content/aquarius/img/logo.png")" alt="Aquarius -  responsive admin panel" title="Aquarius -  responsive admin panel" /></a>
        <ul class="header_menu">
            <li class="list_icon"><a href="http://localhost:10112/Administracao/Home/Principal">&nbsp;</a>Inicio</li>
        </ul>
    </div>

    <div class="content">
    </div>

    @RenderBody()
    @Html.Telerik().ScriptRegistrar().jQuery(true)

</body>
</html>
