<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>@ViewBag.Title</title>

    <link rel="icon" type="image/ico" href="../../../../Content/aquarius/favicon.ico" />

    <link href="../../../../Content/aquarius/css/stylesheets.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../../../../Content/aquarius/css/fullcalendar.print.css" media="print" />

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/jquery/jquery.mousewheel.min.js"></script>

    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/cookie/jquery.cookies.2.2.0.min.js"></script>

    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/bootstrap.min.js"></script>

    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/charts/jquery.flot.js"></script>
    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/charts/jquery.flot.stack.js"></script>
    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/charts/jquery.flot.pie.js"></script>
    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/charts/jquery.flot.resize.js"></script>

    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/sparklines/jquery.sparkline.min.js"></script>

    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/fullcalendar/fullcalendar.min.js"></script>

    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/select2/select2.min.js"></script>

    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/uniform/uniform.js"></script>

    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/maskedinput/jquery.maskedinput-1.3.min.js"></script>

    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/validation/languages/jquery.validationEngine-en.js" charset="utf-8"></script>
    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/validation/jquery.validationEngine.js" charset="utf-8"></script>

    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/animatedprogressbar/animated_progressbar.js"></script>

    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/qtip/jquery.qtip-1.0.0-rc3.min.js"></script>

    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/cleditor/jquery.cleditor.js"></script>

    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/dataTables/jquery.dataTables.min.js"></script>

    <script type="text/javascript" src="../../../../Content/aquarius/js/plugins/fancybox/jquery.fancybox.pack.js"></script>
     <script type="text/javascript" src="../../../../Scripts/jquery-1.6.3.min.js"></script>
    <script type="text/javascript" src="../../../../Scripts/jquery.cep-1.0.min.js"></script>
    <script type="text/javascript" src="../../../../Scripts/AcharCep.js"></script>

   <script type="text/javascript" src="../../../../Content/aquarius/js/cookies.js"></script>
   <script type="text/javascript" src="../../../../Content/aquarius/js/actions.js"></script>
    <script type="text/javascript" src="../../../../Content/aquarius/js/charts.js"></script>
    <script type="text/javascript"  src="../../../../Content/aquarius/js/plugins.js"></script>
    @Html.Telerik( ).StyleSheetRegistrar( ).DefaultGroup(group => group.Add("telerik.common.min.css").Add("telerik.Default.css").Add("telerik.rtl.css"))
   
    
</head>
<body>
    <div class="container-fluid">
        <div id="logindisplay">
            @Html.Partial("_LogOnPartial")
        </div>
    </div>
    <div class="header">
        <a class="logo" href="http://localhost:10112/Administracao/Home">
            <img src="../../../../Content/aquarius/img/logo.png" alt="Aquarius -  responsive admin panel" title="Aquarius -  responsive admin panel" /></a>
        <ul class="header_menu">
            <li class="list_icon"><a href="http://localhost:10112/Administracao/Home/Principal">&nbsp;</a>Inicio</li>
        </ul>
    </div>
   
    <div class="content">
    </div>

    @RenderBody()
    @Html.Telerik( ).ScriptRegistrar( ).jQuery(true)

</body>
</html>
