@model Heritage.Models.Bem

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administracao/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes do Bem: @Model.Descricao</h2>

<table class="table table-bordered">
    <tr>

        <th>
            @Html.LabelFor(model => model.Id_Bem)
        </th>
        <th>
            @Html.LabelFor(model => model.Descricao)
        </th>
        <th>
            @Html.LabelFor(model => model.ValorCompra)
        </th>
        <th>
            @Html.LabelFor(model => model.ValorDepreciado)
        </th>
        <th>
            @Html.LabelFor(model => model.ValorAtual)
        </th>
         <th>
            @Html.LabelFor(model => model.NumeroNotaFiscal)
        </th>
         <th>
            @Html.LabelFor(model => model.Inativo)
        </th>
          <th>
            @Html.LabelFor(model => model.Descontinuado)
        </th>
        <th>
            @Html.LabelFor(model => model.Pis)
        </th>
        <th>
            @Html.LabelFor(model => model.Cofins)
        </th>
         <th>
            @Html.LabelFor(model => model.TaxaDepreciacaoAnual)
        </th>
        <th>
            @Html.LabelFor(model => model.DataAquisicao)
        </th>
         <th>
            @Html.LabelFor(model => model.DataInicioDepreciacao)
        </th>
         <th>
            @Html.LabelFor(model => model.BemDepreciavel)
        </th>
         <th>
            @Html.LabelFor(model => model.DepreciacaoAtiva)
        </th>
        <th>
            Localização:
        </th>
         <th>
            Estabelecimento:
        </th>
        <th>
            Operações:

        </th>
    </tr>
    <tr>

        <td>
            @Html.DisplayFor(model => model.Id_Bem)
        </td>
        <td>
            @Html.DisplayFor(model => model.Descricao)
        </td>
        <td>
            @Html.DisplayFor(model => model.ValorCompra)
        </td>
        <td>
            @Html.DisplayFor(model => model.ValorDepreciado)
        </td>
        <td>
            @Html.DisplayFor(model => model.ValorAtual)
        </td>

         <td>
            @Html.DisplayFor(model => model.NumeroNotaFiscal)
        </td>
         <td>
            @Html.DisplayFor(model => model.Inativo)
        </td>
          <td>
            @Html.DisplayFor(model => model.Descontinuado)
        </td>
        <td>
            @Html.DisplayFor(model => model.Pis)
        </td>
        <td>
            @Html.DisplayFor(model => model.Cofins)
        </td>
         <td>
            @Html.DisplayFor(model => model.TaxaDepreciacaoAnual)
        </td>
        <td>
            @Html.DisplayFor(model => model.DataAquisicao)
        </td>
         <td>
            @Html.DisplayFor(model => model.DataInicioDepreciacao)
        </td>
         <td>
            @Html.DisplayFor(model => model.BemDepreciavel)
        </td>
         <td>
            @Html.DisplayFor(model => model.DepreciacaoAtiva)
        </td>
        <td>
            @Html.DisplayFor(model => model.IdLocalizacao.Descricao)
        </td>
         <td>
            @Html.DisplayFor(model => model.IdEstabelecimento.RazaoSocial)
        </td>
        <td>
            @Html.ActionLink("Alterar", "Edit", new { id = Model.Id_Bem }) |            
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id_Bem })|
            @Html.ActionLink("Hist. Depreciação","CheckHistoricalDepreciation",new {id = Model.Id_Bem})
        </td>
    </tr>
</table>

