@model Heritage.Models.Endereco

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administracao/Views/Shared/_Layout.cshtml";
}
<div class="span9">
    <h3>Detalhes do Endereço: @Model.Descricao</h3>
</div>


<table class="table table-bordered">
    <tr>

        <th>
            @Html.LabelFor(model => model.Id_Endereco)
        </th>
        <th>
            @Html.LabelFor(model => model.Descricao)
        </th>
         <th>
            Bairro:
        </th>

        <th>Usuário:
        </th>
        <th>Operações:

        </th>
    </tr>
    <tr>

        <td>
            @Html.DisplayFor(model => model.Id_Endereco)
        </td>
        <td>
            @Html.DisplayFor(model => model.Descricao)
        </td>
         <td>
          @Html.DisplayFor(model => model.IdBairro.Nome)
        </td>
        <td>
            @Html.DisplayFor(model => model.IdAuditoriaInterna.Usuario)
        </td>


        <td>
            @Html.ActionLink("Alterar", "Edit", new { id = Model.Id_Endereco }) |                     
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id_Endereco })
        </td>
    </tr>
</table>
