@model Heritage.Models.Categoria

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administracao/Views/Shared/_Layout.cshtml";
}
<div class="span9">
    @Html.ActionLink("Página Inicial", "Index")
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="head">
            <div class="isw-documents"></div>
            <h2>Nova Categoria</h2>
            <div class="clear"></div>
        </div>

        @using (Html.BeginForm())
        {
            <div class="block-fluid">
                @Html.ValidationSummary(true)

                <div class="row-form">
                    <div class="span2">
                        @Html.LabelFor(model => model.Nome, "Nome Categoria:")
                    </div>
                    <div class="span9">
                        @Html.TextBoxFor(model => model.Nome, new { placeholder = "Digite o nome da categoria" })
                        @Html.ValidationMessageFor(model => model.Nome)

                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row-form">
                    <div class="span2">
                        <input type="submit" class="btn btn-success" value="Adicionar" />
                        <input type="reset" class="btn btn-warning" value="Limpar" />

                    </div>
                    <div class="clear"></div>
                </div>


            </div>
        }
    </div>
</div>

