@model Heritage.Models.Parametros
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administracao/Views/Shared/_Layout.cshtml";
}

<div class="span9">
    @Html.ActionLink("Página Inicial", "Index")
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="head">
            <div class="isw-documents"></div>
            <h2>Parâmetros do Sistema</h2>
            <div class="clear"></div>
        </div>

        @using (Html.BeginForm())
        {
          @Html.HiddenFor(model => model.IdParametro)
            <div class="block-fluid">

                @Html.ValidationSummary(true)

                <div class="row-form">
                    <div class="span2">
                        @Html.LabelFor(model => model.NomeEmpresaParaExibir)
                    </div>
                    <div class="span9">
                        @Html.TextBoxFor(model => model.NomeEmpresaParaExibir, new { placeholder = "Digite a razão social da empresa"})
                        @Html.ValidationMessageFor(model => model.NomeEmpresaParaExibir)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="row-form">
                    <div class="span2">
                        @Html.LabelFor(model => model.CnpjParaExibir)
                    </div>
                    <div class="span9">
                        @Html.TextBoxFor(model => model.CnpjParaExibir, new { placeholder = "Digite o cnpj da empresa"})
                        @Html.ValidationMessageFor(model => model.CnpjParaExibir)
                    </div>
                    <div class="clear"></div>

                </div>

                <div class="row-form">
                    <div class="span2">
                        @Html.LabelFor(model => model.IEParaExibir)
                    </div>
                    <div class="span9">
                        @Html.TextBoxFor(model => model.IEParaExibir, new { placeholder = "Digite a inscrição estadual da empresa"})
                        @Html.ValidationMessageFor(model => model.IEParaExibir)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="row-form">
                    <div class="span2">
                        @Html.LabelFor(model => model.EnderecoParaExibir)
                    </div>
                    <div class="span9">
                        @Html.TextBoxFor(model => model.EnderecoParaExibir, new {placeholder = "Digite o endereço da empresa, com número" })
                        @Html.ValidationMessageFor(model => model.EnderecoParaExibir)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="row-form">
                    <div class="span2">
                        @Html.LabelFor(model => model.BairroParaExibir)
                    </div>
                    <div class="span9">
                        @Html.TextBoxFor(model => model.BairroParaExibir, new { placeholder = "Digite o bairro da empresa"})
                        @Html.ValidationMessageFor(model => model.BairroParaExibir)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="row-form">
                    <div class="span2">
                        @Html.LabelFor(model => model.CidadeParaExibir)
                    </div>
                    <div class="span9">
                        @Html.TextBoxFor(model => model.CidadeParaExibir, new {placeholder = "Digite a cidade da empresa" })
                        @Html.ValidationMessageFor(model => model.CidadeParaExibir)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="row-form">
                    <div class="span2">
                        @Html.LabelFor(model => model.EstadoParaExibir)
                    </div>
                    <div class="span9">
                        @Html.TextBoxFor(model => model.EstadoParaExibir, new {placeholder="Digite o estado(uf) da empresa" })
                        @Html.ValidationMessageFor(model => model.EstadoParaExibir)
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row-form">

                    <div class="span2">
                        @Html.LabelFor(model => model.TelefoneParaExibir)
                    </div>
                    <div class="span9">
                        @Html.TextBoxFor(model => model.TelefoneParaExibir, new {placeholder="Digite o telefone da empresa" })
                        @Html.ValidationMessageFor(model => model.TelefoneParaExibir)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="row-form">
                    <div class="span2">
                        @Html.LabelFor(model => model.EmailParaExibir)
                    </div>
                    <div class="span9">
                        @Html.TextBoxFor(model => model.EmailParaExibir, new {placeholder="Digite o email da empresa" })
                        @Html.ValidationMessageFor(model => model.EmailParaExibir)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="row-form">
                    <div class="span2">
                        @Html.LabelFor(model => model.EMatriz)
                    </div>
                    <div class="span9">
                        @Html.EditorFor(model => model.EMatriz)
                        @Html.ValidationMessageFor(model => model.EMatriz)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="row-form">
                    <div class="span2">
                        @Html.LabelFor(model => model.RamoEmpresarial)
                    </div>
                    <div class="span9">
                        @Html.TextBoxFor(model => model.RamoEmpresarial, new { placeholder = "Digite a atividade econômica da empresa"})
                        @Html.ValidationMessageFor(model => model.RamoEmpresarial)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="row-form">
                    <div class="span2">
                        @Html.LabelFor(model => model.ValorMinimoDepreciacao)
                    </div>
                    <div class="span9">
                        @Html.TextBoxFor(model => model.ValorMinimoDepreciacao, new { placeholder = "Digite o valor mínimo para o bem ser depreciado."})
                        @Html.ValidationMessageFor(model => model.ValorMinimoDepreciacao)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="row-form">
                    <div class="span2">
                        @Html.LabelFor(model => model.VidaUtilMinima)
                    </div>
                    <div class="span9">
                        @Html.TextBoxFor(model => model.VidaUtilMinima, new { placeholder = "Digite a vida útil mínima para depreciação, em anos. Exemplo: 1"})
                        @Html.ValidationMessageFor(model => model.VidaUtilMinima)
                    </div>
                    <div class="clear"></div>
                </div>


                

                <div class="row-form">
                    <div class="span2">
                        <input type="submit" class="btn btn-success" value="Adicionar" />
                        <input type="reset" class="btn btn-warning" value="Limpar" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }

    </div>
</div>
