@model Heritage.Models.Papel

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Administracao/Views/Shared/_Layout.cshtml";
}
<div class="span9">
    <h3>Detalhes do papel: @Model.Nome</h3>
</div>


<table class="table table-bordered">
    <tr>

        <th>
            @Html.LabelFor(model => model.Id_Papel)
        </th>
        <th>
            @Html.LabelFor(model => model.Nome)
        </th>        

        <th>
            Usuário:

        </th>
        <th>
            Operações:

        </th>
    </tr>
    <tr>

        <td>
            @Html.DisplayFor(model => model.Id_Papel)
        </td>
        <td>
            @Html.DisplayFor(model => model.Nome)
        </td>
         
        <td>
            @Html.DisplayFor(model => model.IdAuditoriaInterna.Usuario)
        </td>

        <td>
            @Html.ActionLink("Alterar", "Edit", new { id = Model.Id_Papel }) |                     
            @Html.ActionLink("Delete", "Delete", new { id = Model.Id_Papel })|
           
        </td>
    </tr>
</table>

