@model Heritage.Models.Peca

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Administracao/Views/Shared/_Layout.cshtml";
}

<div class="span9">
    <h2>Excluir Peça: @Model.Descricao</h2>
</div>
<div class="span9">
    <h3>@User.Identity.Name, você tem certeza que deseja excluir esse registro?</h3>
</div>
@using (Html.BeginForm())
{
    <fieldset>
        <div class="span9">
            <legend>Excluir Peça</legend>
        </div>
        @Html.HiddenFor(model => model.Id_Peca)

        <div class="span9">
            @Html.LabelFor(model => model.Id_Peca)
        </div>
        <div class="span9">
            @Html.DisplayFor(model => model.Id_Peca)
        </div>

        <div class="span9">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="span9">
            @Html.DisplayFor(model => model.Descricao)
        </div>

        <div class="span9">
            @Html.LabelFor(model => model.Valor)
        </div>
        <div class="span9">
            @Html.DisplayFor(model => model.Valor)
        </div>

         <div class="span9">
            @Html.LabelFor(model => model.AcrescentaValorAoBem)
        </div>
        <div class="span9">
            @Html.DisplayFor(model => model.AcrescentaValorAoBem)
        </div>


        <div class="span9">
            @Html.LabelFor(model => model.IdFornecedor.RazaoSocial)
        </div>
        <div class="span9">
            @Html.DisplayFor(model => model.IdFornecedor.RazaoSocial)
        </div>

    </fieldset>

    <div class="span9">
        <input class="btn btn-danger" type="submit" value="Delete" />|
        @Html.ActionLink("Página Inicial", "Index")
    </div>
}
