@model Heritage.Models.CriarConta

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Administracao/Views/Shared/_Layout.cshtml";
}
<div class="span9">
    <h2>Excluir Conta Usuário: @Model.Nome</h2>
</div>

<div class="span9">
    <h3>@User.Identity.Name, Você tem certeza que deseja excluir esse registro?</h3>
</div>
@using (Html.BeginForm())
{
    
    <fieldset>
        @Html.HiddenFor(model => model.Id_CriarConta)

        <div class="span9">
            <legend>Conta de Usuário</legend>
        </div>
        <div class="span9">
            @Html.LabelFor(model => model.Id_CriarConta)
        </div>
        <div class="span9">
            @Html.DisplayFor(model => model.Id_CriarConta)
        </div>

        <div class="span9">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="span9">
            @Html.DisplayFor(model => model.Nome)
        </div>

        <div class="span9">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="span9">
            @Html.DisplayFor(model => model.Email)
        </div>       
        <div class="span9">
            Papel:
        </div>
        <div class="span9">
            @Html.DisplayFor(model => model.IdPapel.Nome)
        </div>
    </fieldset>
    <div class="span9">
        <input class="btn btn-danger" type="submit" value="Delete" />|
        @Html.ActionLink("Página Inicial", "Index")
    </div>
}
