@model Heritage.Models.Bairro

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Administracao/Views/Shared/_Layout.cshtml";
}
<div class="span9">
    @Html.ActionLink("Página Inicial", "Index")
</div>

<div class="row-fluid">
    <div class="span12">
        <div class="head">
            <div class="isw-documents"></div>
            <h2>Novo Bairro</h2>
            <div class="clear"></div>
        </div>

        @using (Html.BeginForm())
        {
            <div class="block-fluid">
                @Html.ValidationSummary(true)


                <div class="row-form">
                    <div class="span2">
                        @Html.LabelFor(model => model.Nome, "Nome:")
                    </div>
                    <div class="span9">
                        @Html.TextBoxFor(model => model.Nome, new { placeholder = "Digite o nome do bairro" })
                        @Html.ValidationMessageFor(model => model.Nome)
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="row-form">
                    <div class="span2">
                        @Html.LabelFor(model => model.IdCidade, "Cidade:")
                    </div>
                    <div class="span9">
                        @Html.DropDownListFor(model => model.IdCidade.Id_Cidade, (IEnumerable<SelectListItem>)ViewBag.Papel, "Selecione Cidade")@Html.ActionLink("Nova Cidade", "Create", "Cidade")
                        @Html.ValidationMessageFor(model => model.IdCidade)
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="row-form">
                    <div class="span2">
                        <input type="submit" class="btn btn-success" value="Adicionar" />
                        <input type="reset" class="btn btn-warning" value="Limpar" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
 
        }

    </div>
</div>

